name: Training - Tests, Linter and Deployment to Okteto
on:
  push:
    branches:
      - main
jobs:
  okteto-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - uses: okteto/context@latest
        with:
          token: ${{ secrets.OKTETO_KEY }}
      
      - name: Create devlopment environments namespace
        uses: okteto/namespace@latest
        with:
          namespace: prod-lucianotrujillo
      
      - name: Build image and deploy 
        uses: ./.github/actions/build-and-deploy
        with:
          tag: okteto.dev/training-service:latest
          file: dev.Dockerfile

