name: Training - Tests, Linter and Deployment to Okteto
on:
  push:
    branches:
      - main
jobs:
  okteto-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Code"
        uses: actions/checkout@v2

    - uses: okteto/context@latest
      with:
        token: ${{ secrets.OKTETO_KEY }}
    
    - name: "Create devlopment environments namespace"
      uses: okteto/create-namespace@latest
      with:
        namespace: devenvs-lucianotrujillo
      
